.about {
    background-color: #f9fdff;
}

.about-banner {
    width: 100%;
    
    min-height: 300px;

    background: url(../assets/placeholder1.jpg);
    background-position-x: 0px;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(24, 58, 111, 0.3);
    display: flex;  
    flex-direction: column;
}
.about-banner h1 { 
    margin-top: 75px;
    color: #f9fdff;
    font-size: 96px;

}

.people-ab {
    color: #006BB6;
    font-family: FuturaPT;
    font-size: 96px;
}

.card-holder-ab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    
    width: 60vw;

    padding: 0;

    gap: 50px;

}
.card-main-ab {
    display: flex;
    flex-direction: row;
    
    padding: 0px;


    margin-left: 0;
    margin-right: 0;

    background-color: #D9D9D9;

    border-radius: 10vw;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}

.card-main-ab img {
    aspect-ratio: 1/1;
    min-width: 100px;
    min-height: 100px;
    width: 10vw;
    height: 10vw;

    border-radius: 50%;
    object-fit: cover;
    
}
.card-txts-ab {
    width: 15vw;

    min-width: 150px;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.card-txts-ab h1 {
    text-align: left;
    color: #171718;
    font-family: FuturaPTBold;
}
.card-texts-ab h1 span {
    color: #2f2f31;
    font-family: FuturaPTLight;
}
.card-txts-ab p {
    text-align: left;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 90%;
}

.spacer {
    width: 100%;
    height: 100px;
    color: white;
}