.home-banner {
    width: 100%;
    height: 475px;
    background: url(../assets/placeholder1.jpg);
    background-position-x: 0px;
    background-position-y: -350px;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(24, 58, 111, 0.3);
    display: flex;  
    flex-direction: column;
}
.home-banner h1 {
    color: #f9fdff;
    font-size: 96px;
}
.home-banner p{
    color:#f9fdff;
    font-size: 15px;
}
.home-banner a{
    transform: translateY(100%);
    filter: drop-shadow(0 0 0.75rem rgb(0,0,0));
}
.home-textbox {
    width: 100%;
    height: 300px;
    background-color: #60B2E5;
}
.home-textbox h1 {
    color: #f9fdff;
    font-size: 36px;
    padding: 20px;
}
.home-textbox p {
    color: #f9fdff;
    font-family: FuturaPTLight;
    font-size: 32px;
}

.spacer {
    width: 100%;
    height: 800px;
    color: white;
}