.home {
    background-color: #f9fdff;
}

.home-banner {
    width: 100%;
    height: 475px;
    background: url(../assets/placeholder1.jpg);
    background-position-x: 0px;
    background-position-y: -350px;
    background-size: 4/3;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(24, 58, 111, 0.3);
    display: flex;  
    flex-direction: column;
}
.home-banner h1 {
    color: #f9fdff;
    font-size: 96px;
}
.home-banner h1 span{
    transition: 300ms ease;
}
.home-banner h1 span:hover {
    color: rgb(81, 136, 255);
    transition: 300ms ease;
}
.home-banner p{
    color:#f9fdff;
    font-size: 15px;
} 
.home-banner a{
    transform: translateY(100%);
    filter: drop-shadow(0 0 0.75rem rgb(0,0,0));
}
.home-textbox {
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: column;
    min-height: 100%;
    background-color: #2F95F3;
}
.home-textbox h1 {
    color: #f9fdff;
    font-size: 36px;
    padding: 20px;
}
.home-textbox p {
    color: #f9fdff;
    font-family: FuturaPTLight;
    font-size: 32px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.people {
    color: #006BB6;
    font-family: FuturaPT;
    font-size: 96px;
}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 70%;

    margin: 0 0 auto;
    
    margin-left: 15%;
    margin-right: 15%;

}
.card-main {
    display: flex;
    flex-direction: column;
    
    padding: 20px;

}
.card-box {
    background-color: #D9D9D9;
    border-radius: 75px;

    width: 450px;
    height: 150px;

    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-imgbox {
    margin-right: 60%;
    margin-left: 0;
    margin-top: -15px;
}
.card-img {
    width: 180px;
    height: 180px;
    
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.card-name {
    margin-left: 190px;
    margin-top: -160px;
    color: #002037;
    font-family: FuturaPTBold;
    text-align: left;
}
.card-blurb {
    text-align: left;
    width: 200px;
    margin-right: 60px;
}
.viewmore {
    margin-top: 40px;
    background-color: #006BB6;
    color: #f9fdff;
    border-style: solid;
    border-width: 0px;
    border-color: #082c46;
    border-radius: 20px;

    font-size: 40px;
    font-family: FuturaPT;
    
    width: 280px;
    height: 80px;

    transition: 200ms ease;
}
.viewmore:hover {
    border-style: solid;
    border-width: 5px;
    border-color: #082c46;
    background-color: #074a7a;
    transition: 400ms ease;
}
.spacer {
    width: 100%;
    height: 100px;
    color: white;
}