/*

Color Pallete Stuff:

BLUE: #006BB6
GRAY: #747678


*/

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTBook.woff");
}
@font-face {
    font-family: "FuturaPTBold";
    src: url("../fonts/FuturaPTBold.woff");
}
@font-face {
    font-family: "FuturaPTLight";
    src: url("../fonts/FuturaPTLight.woff");
}
@font-face {
    font-family: "CenturySchoolbook";
    src: url("../fonts/CenturySchoolbook.woff");
}


* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.footer {
    width: 100%;
    max-height: 40px;
    position: fixed;
    background-color: rgb(29, 29, 29);
    bottom: 0;
    padding: 0.5% 10px;
}
.footer-inner {
    display: flex;
    color: #f9fdff;
    flex-direction: row;
}
.footer-inner a {
    width: 70px;
    margin: 0 0 auto;
}
.footer-inner h1 {
    padding-top: 2px;
    padding-left: 10px;
    margin: 0 0 auto;


    font-size: 1vw;

    flex-grow: 1;
}
.footer-mailing {
    margin: 0 0 auto;
    text-decoration: none;
    color: #f9fdff;
    
}
.footer-mailing a {
    color: #f9fdff;
    font-size: 100%;

}
.footer-mailing a:hover {
    color: #4ec4ff;
    transition: 300ms ease;
}